<div class="row">

  <div class="col-12">
  
    <%= f.association :disciplina, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :carga_horaria, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :periodo_calendario, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :optativa, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :carga_horaria_total, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.association :matriz_curricular_aplicada, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.association :user, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

</div>
