<div class="card">
  <div class="card-header border-0 d-flex justify-content-between">
    <!-- Botão para abrir o modal de filtros -->
    <%= render "shared/index_header_buttons", index_url: grades_curriculares_path do %>
    <%= link_to t("common.actions.new"), new_grade_curricular_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-borderless table-striped">
        <thead>
          <tr>
            <th class="text-center col-1 opacity-75"><%= t("common.table_th_actions") %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :disciplina, t("activerecord.attributes.grade_curricular.disciplina")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :carga_horaria, t("activerecord.attributes.grade_curricular.carga_horaria")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :periodo_calendario, t("activerecord.attributes.grade_curricular.periodo_calendario")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :optativa, t("activerecord.attributes.grade_curricular.optativa")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :carga_horaria_total, t("activerecord.attributes.grade_curricular.carga_horaria_total")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :matriz_curricular_aplicada, t("activerecord.attributes.grade_curricular.matriz_curricular_aplicada")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :user, t("activerecord.attributes.grade_curricular.user")) %></th>
            
          </tr>
        </thead>
        <tbody>
          <% @grades_curriculares.each do |grade_curricular| %>
          <tr>
            <td class="text-center">
              <div class="dropdown-toggle">
                <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="ti ti-settings fs-4"></i>
                </a>
                <div class="dropdown-menu">
                  <div class="dropdown-header"><%= t("common.table_dropdown_options") %></div>
                  <%= link_to content_tag(:i, "", class: "ph-eye me-2") + t("common.actions.show"), grade_curricular_path(grade_curricular), class: "dropdown-item" %>
                  <%= link_to content_tag(:i, "", class: "ph-pen me-2") + t("common.actions.edit"), edit_grade_curricular_path(grade_curricular), class: "dropdown-item" %>
                  <%= form_for grade_curricular, method: :delete do |f| %>
                  <a class="dropdown-item hand-pointer" data-confirm-delete="<%= grade_curricular_path(grade_curricular) %>" data-csrf-token="<%= form_authenticity_token %>">
                    <i class="ph-trash-simple me-2"></i><%= t("common.actions.delete") %>
                  </a>
                  <% end %>
                </div>
              </div>
            </td>
            
              <td><%= grade_curricular.disciplina %></td>
            
              <td><%= grade_curricular.carga_horaria %></td>
            
              <td><%= grade_curricular.periodo_calendario %></td>
            
              <td><%= grade_curricular.optativa %></td>
            
              <td><%= grade_curricular.carga_horaria_total %></td>
            
              <td><%= grade_curricular.matriz_curricular_aplicada %></td>
            
              <td><%= grade_curricular.user %></td>
            
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= pagy_navigation(@pagy) %>
  </div>
</div>
<!-- Modal de Filtros -->
<div class="modal fade" id="filters_modal" tabindex="-1" aria-labelledby="filters_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Cabeçalho do Modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="filters_modal_label"><%= t("common.filters") %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=""></button>
      </div>
      <!-- Formulário de Pesquisa -->
      <%= search_form_for @q, url: grades_curriculares_path, html: { class: "d-flex flex-column gap-3", autocomplete: "off" } do |f| %>
      <!-- Corpo do Modal -->
      <div class="modal-body">
        <div class="row">
          
            <div class="col-12 mb-3">
              <%= f.label :disciplina_descricao_cont, t("activerecord.attributes.grade_curricular.disciplina"), class: "form-label" %>
              <%= f.search_field :disciplina_descricao_cont, class: "form-control" %>
            </div>
          
            <div class="col-12 mb-3">
              <%= f.label :carga_horaria_eq, t("activerecord.attributes.grade_curricular.carga_horaria"), class: "form-label" %>
              <%= f.search_field :carga_horaria_eq, class: "form-control" %>
            </div>
          
            <div class="col-12 mb-3">
              <%= f.label :periodo_calendario_eq, t("activerecord.attributes.grade_curricular.periodo_calendario"), class: "form-label" %>
              <%= f.search_field :periodo_calendario_eq, class: "form-control" %>
            </div>
          
            <div class="col-12 mb-3">
              <%= f.label :optativa_cont, t("activerecord.attributes.grade_curricular.optativa"), class: "form-label" %>
              <%= f.search_field :optativa_cont, class: "form-control" %>
            </div>
          
            <div class="col-12 mb-3">
              <%= f.label :carga_horaria_total_cont, t("activerecord.attributes.grade_curricular.carga_horaria_total"), class: "form-label" %>
              <%= f.search_field :carga_horaria_total_cont, class: "form-control" %>
            </div>
          
            <div class="col-12 mb-3">
              <%= f.label :matriz_curricular_aplicada_descricao_cont, t("activerecord.attributes.grade_curricular.matriz_curricular_aplicada"), class: "form-label" %>
              <%= f.search_field :matriz_curricular_aplicada_descricao_cont, class: "form-control" %>
            </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer justify-content-start">
        <%= f.submit t("common.apply_filters"), class: "btn btn-primary" %>
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"><%= t("common.back") %></button>
      </div>
      <% end %>
    </div>
  </div>
</div>