<%= simple_form_for(@grade_curricular, url: "#", method: "get", html: { disabled: true }) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<%= render "shared/notice" %>
<div class="card">
  <div class="card-body">
    <%= render "grade_curricular", f: f, disabled: true %>
  </div>
  <div class="card-footer">
    <%= link_to t("common.actions.edit"), edit_grade_curricular_path(@grade_curricular), class: "btn btn-secondary" %>
    <%= link_to t("common.back"), grades_curriculares_path, class: "btn btn-light" %>
  </div>
</div>
<% end %>
