<p style="color: green"><%= notice %></p>

<%= render @metodologia %>

<div>
  <%= link_to "Edit this metodologia", edit_metodologia_path(@metodologia) %> |
  <%= link_to "Back to metodologias", metodologias_path %>

  <%= button_to "Destroy this metodologia", @metodologia, method: :delete %>
</div>
