<div class="card">
  <div class="card-header border-0 d-flex justify-content-between">
    <!-- Botão para abrir o modal de filtros -->
    <%= render "shared/index_header_buttons", index_url: disciplinas_path do %>
    <%= link_to t("common.actions.new"), new_disciplina_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-borderless table-striped">
        <thead>
          <tr>
            <th class="text-center col-1 opacity-75"><%= t("common.table_th_actions") %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :descricao, t("activerecord.attributes.disciplina.descricao")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :codigo, t("activerecord.attributes.disciplina.codigo")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :area, t("activerecord.attributes.disciplina.area")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :subarea, t("activerecord.attributes.disciplina.subarea")) %></th>
            
          </tr>
        </thead>
        <tbody>
          <% @disciplinas.each do |disciplina| %>
          <tr>
            <td class="text-center">
              <div class="dropdown-toggle">
                <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="ti ti-settings fs-4"></i>
                </a>
                <div class="dropdown-menu">
                  <div class="dropdown-header"><%= t("common.table_dropdown_options") %></div>
                  <%= link_to content_tag(:i, "", class: "ph-eye me-2") + t("common.actions.show"), disciplina_path(disciplina), class: "dropdown-item" %>
                  <%= link_to content_tag(:i, "", class: "ph-pen me-2") + t("common.actions.edit"), edit_disciplina_path(disciplina), class: "dropdown-item" %>
                  <%= form_for disciplina, method: :delete do |f| %>
                  <a class="dropdown-item hand-pointer" data-confirm-delete="<%= disciplina_path(disciplina) %>" data-csrf-token="<%= form_authenticity_token %>">
                    <i class="ph-trash-simple me-2"></i><%= t("common.actions.delete") %>
                  </a>
                  <% end %>
                </div>
              </div>
            </td>
            
              <td><%= disciplina.descricao %></td>
            
              <td><%= disciplina.codigo %></td>
            
              <td><%= disciplina.area %></td>
            
              <td><%= disciplina.subarea %></td>
            
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= pagy_navigation(@pagy) %>
  </div>
</div>