<!-- Form Customizado -->
<%= simple_form_for(@turma) do |f| %>
  <!-- Área de notificações -->
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= render "shared/notice" %>
  <!-- Card e formulário -->
  <div class="card">
    <div class="card-body">      
      <%= render "turma", f: f %>
    </div>
    <div class="card-footer">
      <%= btn_submit(f) %>
      <%= link_to t("common.back"), turmas_path, class: "btn btn-light" %>
    </div>
  </div>
<% end %>