<div class="row">

  <div class="col-12">
  
    <%= f.input :descricao, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :vagas, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.association :matriz_curricular_aplicada, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :numero_efetivo_estudantes, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :sala_recorrente, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.association :turno, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.association :ambiente, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

</div>
