<div class="card">
  <div class="card-header border-0">
    <div class="row w-100 g-2">
      <!-- Input de Pesquisa -->
      <div class="col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">
        <%= search_form_for @q, url: subareas_path, class: "form-inline w-100" do |f| %>
          <div class="input-group align-items-center justify-content-center">
            <%= 
              f.search_field :descricao_or_area_descricao_cont, 
              class: "form-control", 
              placeholder: t("Descrição", default: "Pesquise..."), 
              title: "Descrição ou Área", 
              data: { bs_toggle: "tooltip" } 
            %>
            <div class="input-group-append">
              <%= button_tag type: 'submit', class: "btn btn-outline-secondary" do %>
                <i class="ti ti-search"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Botão de Limpar Filtros -->
      <% if params[:q] %>
        <div class="col-12 col-md-2 d-flex align-items-center justify-content-center">
          <%= link_to t("common.clean_filters"), subareas_path, class: "btn btn-secondary w-100 w-md-auto" %>
        </div>
      <% end %>
      <!-- Botão de Incluir -->
      <div class="col-12 col-md-2 d-flex ms-auto align-items-center justify-content-end">
        <%= render "shared/index_header_buttons", index_url: subareas_path do %>
          <%= link_to t("common.actions.new"), new_subarea_path, class: "btn btn-primary w-100 w-md-auto" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-borderless table-striped">
        <thead>
          <tr>
            <th class="text-center col-1 opacity-75"><%= t("common.table_th_actions") %></th>
            <th class="opacity-75"><%= sort_link(@q, :descricao, t("activerecord.attributes.subarea.descricao")) %></th>
            <th class="opacity-75"><%= sort_link(@q, :area, t("activerecord.attributes.subarea.area")) %></th>
          </tr>
        </thead>
        <tbody>
          <% @subareas.each do |subarea| %>
            <tr>
              <td class="text-center">
                <div class="dropdown-toggle">
                  <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ti ti-settings fs-4"></i>
                  </a>
                  <div class="dropdown-menu">
                    <div class="dropdown-header"><%= t("common.table_dropdown_options") %></div>
                    <%= link_to content_tag(:i, "", class: "ph-eye me-2") + t("common.actions.show"), subarea_path(subarea), class: "dropdown-item" %>
                    <%= link_to content_tag(:i, "", class: "ph-pen me-2") + t("common.actions.edit"), edit_subarea_path(subarea), class: "dropdown-item" %>
                    <%= form_for subarea, method: :delete do |f| %>
                      <button type="submit" class="dropdown-item hand-pointer">
                        <i class="ph-trash-simple me-2"></i>
                        <%= t("common.actions.delete") %>
                      </button>
                    <% end %>
                  </div>
                </div>
              </td>
              <td><%= subarea.descricao %></td>
              <td><%= subarea.area %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= pagy_navigation(@pagy) %>
  </div>
</div>