
<%= simple_form_for(@aula) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :grade_curricular %>
    <%= f.association :ambiente %>
    <%= f.input :dia %>
    <%= f.input :horario_inicio %>
    <%= f.input :horario_fim %>
    <%= f.input :created_by %>
    <%= f.input :updated_by %>
    <%= f.input :deleted_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
