<div class="row">
  <div class="col-12">
    <%= f.input :nome, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12">
    <%= f.input :inep, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12">
    <%= f.input :endereco, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12">
    <%= f.input :duracao_aula, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12">
    <%= f.input :horario_inicio_aula, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12">
    <%= f.input :horario_fim_aulas, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
  <div class="col-12">
    <%= f.input :tempos_aula, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  </div>
</div>
