<div class="card">
  <div class="card-header border-0 d-flex justify-content-between">
    <!-- Botão para abrir o modal de filtros -->
    <%= render "shared/index_header_buttons", index_url: instituicoes_path do %>
    <%= link_to t("common.actions.new"), new_instituicao_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-borderless table-striped">
        <thead>
          <tr>
            <th class="text-center col-1 opacity-75"><%= t("common.table_th_actions") %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :nome, t("activerecord.attributes.instituicao.nome")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :inep, t("activerecord.attributes.instituicao.inep")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :endereco, t("activerecord.attributes.instituicao.endereco")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :duracao_aula, t("activerecord.attributes.instituicao.duracao_aula")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :horario_inicio_aula, t("activerecord.attributes.instituicao.horario_inicio_aula")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :horario_fim_aulas, t("activerecord.attributes.instituicao.horario_fim_aulas")) %></th>
            
              <th class="opacity-75"><%= sort_link(@q, :tempos_aula, t("activerecord.attributes.instituicao.tempos_aula")) %></th>
            
          </tr>
        </thead>
        <tbody>
          <% @instituicoes.each do |instituicao| %>
          <tr>
            <td class="text-center">
              <div class="dropdown-toggle">
                <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="ti ti-settings fs-4"></i>
                </a>
                <div class="dropdown-menu">
                  <div class="dropdown-header"><%= t("common.table_dropdown_options") %></div>
                  <%= link_to content_tag(:i, "", class: "ph-eye me-2") + t("common.actions.show"), instituicao_path(instituicao), class: "dropdown-item" %>
                  <%= link_to content_tag(:i, "", class: "ph-pen me-2") + t("common.actions.edit"), edit_instituicao_path(instituicao), class: "dropdown-item" %>
                  <%= form_for instituicao, method: :delete do |f| %>
                  <a class="dropdown-item hand-pointer" data-confirm-delete="<%= instituicao_path(instituicao) %>" data-csrf-token="<%= form_authenticity_token %>">
                    <i class="ph-trash-simple me-2"></i><%= t("common.actions.delete") %>
                  </a>
                  <% end %>
                </div>
              </div>
            </td>
            
              <td><%= instituicao.nome %></td>
            
              <td><%= instituicao.inep %></td>
            
              <td><%= instituicao.endereco %></td>
            
              <td><%= instituicao.duracao_aula %></td>
            
              <td><%= instituicao.horario_inicio_aula %></td>
            
              <td><%= instituicao.horario_fim_aulas %></td>
            
              <td><%= instituicao.tempos_aula %></td>
            
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= pagy_navigation(@pagy) %>
  </div>
</div>