<!-- Form Customizado -->
<%= simple_form_for(@curriculo_ementa) do |f| %>
  <!-- Área de notificações -->
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= render "shared/notice" %>
  <!-- Card e formulário -->
  <div class="card">
    <div class="card-body">
      <%= render "curriculo_ementa", f: f %>
    </div>
    <div class="card-footer text-end">
      <%= link_to t("common.back"), curriculos_ementas_path, class: "btn btn-light" %>
      <%= btn_submit(f) %>
    </div>
  </div>
<% end %>