<p style="color: green"><%= notice %></p>

<%= render @curriculo_ementa %>

<div>
  <%= link_to "Edit this curriculo ementa", edit_curriculo_ementa_path(@curriculo_ementa) %> |
  <%= link_to "Back to curriculo ementa", curriculos_ementas_path %>

  <%= button_to "Destroy this curriculo ementa", @curriculo_ementa, method: :delete %>
</div>
