<!-- Form Customizado -->
<%= simple_form_for(@matriz_curricular_aplicada) do |f| %>
  <!-- Área de notificações -->
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= render "shared/notice" %>
  <!-- Card e formulário -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-lg-9">
          <%= f.input :descricao, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
        </div>
        <div class="col-12 col-lg-3">
          <%= f.input :ano_letivo, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
        </div>
        <div class="col-12 col-lg-3">
          <%= f.association :turno, input_html: { class: "keyup choice", disabled: local_assigns[:disabled] } %>
        </div>
        <div class="col-12 col-lg-9">
          <%= f.association :curso, input_html: { class: "keyup choice", disabled: local_assigns[:disabled] } %>
        </div>
        <div class="col-12">
          <%= f.input :ativo, as: :boolean, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
        </div>
      </div>
      <div class="row">
        <div id="grades_curriculares">
          <%= f.simple_fields_for :grades_curriculares do |grade_curricular| %>
            <%= render 'grade_curricular_fields', :f => grade_curricular %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Adicionar disciplina', f, :grades_curriculares, class: 'btn btn-primary btn-sm mb-2' %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-end">
      <%= btn_submit(f) %>
      <%= link_to t("common.back"), matrizes_curriculares_aplicadas_path, class: "btn btn-light" %>
    </div>
  </div>
<% end %>