
<%= simple_form_for(@matriz_curricular_aplicada) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :descricao %>
    <%= f.input :ano_letivo %>
    <%= f.association :turno %>
    <%= f.association :curso %>
    <%= f.input :ativo %>
    <%= f.input :created_by %>
    <%= f.input :updated_by %>
    <%= f.input :deleted_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
