<div class="row">

  <div class="col-12">
  
    <%= f.input :descricao, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :ano_letivo, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.association :turno, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.association :curso, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

  <div class="col-12">
  
    <%= f.input :ativo, input_html: { class: "keyup", disabled: local_assigns[:disabled] } %>
  
  </div>

</div>
