<%= simple_form_for(@matriz_curricular_aplicada, url: "#", method: "get", html: { disabled: true }) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<%= render "shared/notice" %>
<div class="card">
  <div class="card-body">
    <%= render "matriz_curricular_aplicada", f: f, disabled: true %>
  </div>
  <div class="card-footer">
    <%= link_to t("common.actions.edit"), edit_matriz_curricular_aplicada_path(@matriz_curricular_aplicada), class: "btn btn-secondary" %>
    <%= link_to t("common.back"), matrizes_curriculares_aplicadas_path, class: "btn btn-light" %>
  </div>
</div>
<% end %>
