<p style="color: green"><%= notice %></p>

<%= render @restricao %>

<div>
  <%= link_to "Edit this restricao", edit_restricao_path(@restricao) %> |
  <%= link_to "Back to restricoes", restricoes_path %>

  <%= button_to "Destroy this restricao", @restricao, method: :delete %>
</div>
