<%%= simple_form_for(@<%= singular_table_name %>, url: "#", method: "get", html: { disabled: true }) do |f| %>
<%%= f.error_notification %>
<%%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<%%= render "shared/notice" %>
<div class="card">
  <div class="card-body">
    <%%= render "<%= singular_table_name %>", f: f, disabled: true %>
  </div>
  <div class="card-footer">
    <%%= link_to t("common.actions.edit"), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "btn btn-secondary" %>
    <%%= link_to t("common.back"), <%= plural_table_name %>_path, class: "btn btn-light" %>
  </div>
</div>
<%% end %>
