<div class="card">
  <div class="card-header border-0 d-flex justify-content-between align-items-center">
    <div class="row w-100">
      <!-- Input de Pesquisa e Botão de Limpar Filtros -->
      <div class="col-lg-4 d-flex align-items-center">
        <%= search_form_for @q, url: disponibilidade_salas_path, class: "form-inline w-100" do |f| %>
          <div class="d-flex">
            <div class="input-group">
              <%= f.search_field :ambiente_descricao_cont, class: "form-control", placeholder: t("common.search_placeholder") %>
            </div>
            <div class="col-lg-2 d-flex align-items-center justify-content-center">
              <div class="input-group-append">
                <%= button_tag type: 'submit', class: "btn btn-outline-secondary" do %>
                  <i class="ti ti-search"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Botão de Limpar Filtros -->
      <div class="col-lg-2 d-flex align-items-center justify-content-center">
        <%= link_to t("common.clean_filters"), disponibilidade_salas_path, class: "btn btn-secondary ml-3" if params[:q] %>
      </div>
      <!-- Botão de Incluir -->
      <div class="col-lg-6 d-flex align-items-center justify-content-end">
        <%= render "shared/index_header_buttons", index_url: disponibilidade_salas_path do %>
          <%= link_to t("common.actions.new"), new_disponibilidade_sala_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-borderless table-striped">
        <thead>
          <tr>
            <th class="text-center col-1 opacity-75"><%= t("common.table_th_actions") %></th>
            <th class="opacity-75"><%= sort_link(@q, :ambiente, t("activerecord.attributes.disponibilidade_sala.ambiente")) %></th>
            <th class="opacity-75"><%= sort_link(@q, :dia, t("activerecord.attributes.disponibilidade_sala.dia")) %></th>
            <th class="opacity-75"><%= sort_link(@q, :horario_inicio, t("activerecord.attributes.disponibilidade_sala.horario_inicio")) %></th>
            <th class="opacity-75"><%= sort_link(@q, :horario_fim, t("activerecord.attributes.disponibilidade_sala.horario_fim")) %></th>
          </tr>
        </thead>
        <tbody>
          <% @disponibilidade_salas.each do |disponibilidade_sala| %>
            <tr>
              <td class="text-center">
                <div class="dropdown-toggle">
                  <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ti ti-settings fs-4"></i>
                  </a>
                  <div class="dropdown-menu">
                    <div class="dropdown-header"><%= t("common.table_dropdown_options") %></div>
                    <%= link_to content_tag(:i, "", class: "ph-eye me-2") + t("common.actions.show"), disponibilidade_sala_path(disponibilidade_sala), class: "dropdown-item" %>
                    <%= link_to content_tag(:i, "", class: "ph-pen me-2") + t("common.actions.edit"), edit_disponibilidade_sala_path(disponibilidade_sala), class: "dropdown-item" %>
                    <%= form_for disponibilidade_sala, method: :delete do |f| %>
                      <button type="submit" class="dropdown-item hand-pointer">
                        <i class="ph-trash-simple me-2"></i>
                        <%= t("common.actions.delete") %>
                      </button>
                    <% end %>
                  </div>
                </div>
              </td>
              <td><%= disponibilidade_sala.ambiente %></td>
              <td><%= disponibilidade_sala.dia %></td>
              <td><%= disponibilidade_sala.horario_inicio %></td>
              <td><%= disponibilidade_sala.horario_fim %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= pagy_navigation(@pagy) %>
  </div>
</div>