<p style="color: green"><%= notice %></p>

<%= render @etapa %>

<div>
  <%= link_to "Edit this etapa", edit_etapa_path(@etapa) %> |
  <%= link_to "Back to etapas", etapas_path %>

  <%= button_to "Destroy this etapa", @etapa, method: :delete %>
</div>
