<!DOCTYPE html >
<html lang="pt">
  <head>
    <title>SGHEP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "/layout/able/assets/images/favicon.svg", type: 'image/x-icon', data: { turbo_track: 'reload' } %>
    <%# CSS %>
    <%= stylesheet_link_tag "/layout/able/assets/fonts/inter/inter.css",                "data-turbo-track": "reload"  %>
    <%= stylesheet_link_tag "/layout/able/assets/fonts/phosphor/duotone/style.css",     "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/able/assets/fonts/tabler-icons.min.css",           "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/able/assets/fonts/feather.css",                    "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/able/assets/fonts/fontawesome.css",                "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/able/assets/fonts/material.css",                   "data-turbo-track": "reload" %>
    <%# layout antigo %>
    <%= stylesheet_link_tag "/layout/assets/icons/phosphor/styles.min.css",             "data-turbo-track": "reload" %>
    <%# Fim layout antigo %>
    <%= stylesheet_link_tag "/layout/able/assets/css/style.css", id: "main-style-link", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/able/assets/css/style-preset.css",                 "data-turbo-track": "reload" %>
    <%#= stylesheet_link_tag "application",                                              "data-turbo-track": "reload" %>
    <%# JS %>
    <%= javascript_include_tag "/layout/able/assets/js/tech-stack.js",                     "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/able/assets/js/plugins/popper.min.js",             "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/able/assets/js/plugins/simplebar.min.js",          "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/able/assets/js/plugins/bootstrap.min.js",          "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/able/assets/js/plugins/i18next.min.js",            "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/able/assets/js/plugins/i18nextHttpBackend.min.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/able/assets/js/icon/custom-font.js",               "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/able/assets/js/script.js",                         "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/able/assets/js/theme.js",                          "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/able/assets/js/multi-lang.js",                     "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/able/assets/js/plugins/feather.min.js",            "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/ui/fullcalendar/main.min.js",     "data-turbo-track": "reload" %>

    <%# Importando o wizard.min.js %>
    <%= javascript_include_tag "/layout/assets/js/jquery/jquery.min.js",                             "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/jquery/jquery.mask.min.js",                        "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/jquery/jquery.maskMoney.min.js",                   "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/plugins/wizard.min.js",                            "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/able/assets/js/plugins/choices.min.js",                      "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/forms/selects/select2.min.js",              "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/forms/selects/bootstrap_multiselect.js",    "data-turbo-track": "reload" %>

    <%= javascript_include_tag "/layout/assets/js/custom.js",                           "data-turbo-track": "reload" %>

    <style>
      .hand-pointer,
      .nav-item,
      .hand-pointer:hover,
      .nav-item:hover {
        cursor: pointer;
      }

      .sort_link,
      .sort_link:hover {
        text-decoration: none;
        color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
      }

      .keyup {
        text-transform: uppercase;
      }

      .downcase {
        text-transform: lowercase;
      }

      thead th, .table thead th {
        background: transparent;
        opacity: 0.75;
      }

      td a {
        color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
      }

      .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-color-type: var(--bs-table-striped-color);
        --bs-table-bg-type: #f9fbff
      }
    </style>
  </head>
  <body style="background-color:#355E3B" data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-layout="vertical" data-pc-direction="ltr" data-pc-theme_contrast="" data-pc-theme="light" data-pc-direction="ltr">
    <%= render "shared/ablepro/sidebar" %>
    <%= render "shared/ablepro/header" %>
    <%= render "shared/ablepro/offcanvas" %>
    <div class="pc-container">
      <div class="pc-content">
        <%= render "shared/ablepro/page_header" %>
        <div class="row">
          <div class="col-12">
            <%= render "shared/notice" %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render "shared/ablepro/footer"%>
  </body>
</html>
